* {
  padding: 0;
  margin: 0;
  list-style:none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  height:100%;
  width: 100%;
}
body {
  font-family: monospace;
  background-color:#0A0A1A;
  height: 100%;
}
 nav  {
    background-color:#0F0F2D;
    height: 80px;
    width:100%
  }
  nav ul {
    float:right;
    margin-right: 400px;
    
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    margin: 0px  10px 30px;
    font-family: Arial,monospace;
    font-size: 10px;
    }
    nav ul li a{
      color: white;
      font-size: 17px;
      padding: 10px;
      border-radius: 10px;
    }
    a.Active,a:hover {
      color: #FFB534;
      transition: .5s;
    }
  
  label.logo {
    color: #ffff;
    font-size: 35px;
    font-weight: bolder;
    line-height: 80px;
    margin-left: 260px;
    padding:10px;
    animation: neonGlow 2s infinite alternate ease-in-out;
    
  
  }
  
  @keyframes neonGlow {
    
    0% {
      text-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(66,220,219,.8),
                   0 0 60px  rgba(66,220,219,.8),
                   0 0 80px  rgba(66,220,219,.5),
                   0 0 100px rgba(66,220,219,.5),
                   0 0 140px rgba(66,220,219,.5),
                   0 0 200px rgba(66,220,219,.5);
                  
    }
    100% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(66,220,219,.8),
                   0 0 30px rgba(66,220,219,.8),
                   0 0 40px rgba(66,220,219,.8),
                   0 0 50px rgba(66,220,219,.5),
                   0 0 80px rgba(66,220,219,.5);
                   
    }
  }
  
  
.head1 {
  margin-left: 400px;
  margin-top: 150px;
}
.icons {
  float:left;
  width: 10%;
  margin-left: 30px;
  margin-top: 10px;
}
.head2 {
  margin-left: 400px;
}

.head3 {
  margin-left: 400px;
}
.head4 {
  color:white;
 font-size:small;
  line-height: 2em;
  letter-spacing:1px;
  margin-left: 400px;
  font-family:'Lucida Sans Regular',sans-serif;
  
 }

.man {
   float: right;
   margin-right:100px;
   width: 20%;
   
   }
.btn1 {
  margin-left: 400px;
  transition: ease-out 0.3s;
  outline: none;
  color: white;
  box-shadow: inset 0 0 0 0 red;
}

.btn1:hover {
  box-shadow: inset 200px 0 0 0 red;
  cursor: pointer;
  color:black;
}
.btn2 {
  margin-left: 400px;
  color:#FFB534;
}
.btn2:hover {
  cursor: pointer;
  color:white;
  box-shadow: inset 200px 0 0 0 purple;
}

.container {
  background-color:#0A0A1A;
}
.aboutsection {
  background-color:#0F0F2D;
  margin-top:100px;
  width: 100%;
  height:150%;
}
.about {
  float: left;
  background-color:#0F0F2D;
  border:1px solid rgba(255,255,255,1);
  width:20%;
  height:60%;
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 10px;
}
.pic {
  background-color: black;
  border-radius: 40px;
  width:50%;
  margin-left:75px;
  margin-top: 50px;
  
}
.name {
  font-size:2em;
  color:white;
  font-weight: bolder;
  margin-left: 60px;
  margin-top: 20px;
 text-decoration-line: underline;
 text-decoration-thickness: 5px;
 
}
.mail {
  font-family: monospace;
  color:#FFB534;
  margin-left: 120px;
  margin-top:30px;
  font-size: large;
  
}
.mails {
  font-family:Arial,monospace;
  color:whitesmoke;
  margin-left: 120px;
  font-size:20px;
  
}
.Phone {
  font-family: monospace;
  color:#FFB534;
  margin-left: 120px;
  font-size: large;
}
.number {
  font-family:Arial,monospace;
  color:whitesmoke;
  margin-left: 120px;
  font-size:20px;
}
.birth {
  font-family: monospace;
  color:#FFB534;
  margin-left: 120px;
  font-size: large;
}
.day {
  font-family:Arial,monospace;
  color:whitesmoke;
  margin-left: 120px;
  font-size:20px;
}
.location {
  font-family: monospace;
  color:#FFB534;
  margin-left: 120px;
  font-size: large;
}
.place {
  font-family:Arial,monospace;
  color:whitesmoke;
  margin-left: 120px;
  font-size:20px;
}
.mailimg {
float: left;
margin-left: 40px;
margin-top: 40px;
}
.phoneimg {
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  }
  .locationimg {
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    }
    .birthimg {
      float: left;
      margin-left: 35px;
      margin-top: 10px;
      }
.next {
  float:right;
  background-color:#0F0F2D;
  width:70%;
  height:95%;
  margin-top: 40px;
  border:1px solid rgba(255,255,255,1);
  margin-right: 55px;
  border-radius: 10px;
}
.About_me {
  margin-left: 30px;
  margin-top: 40px;
  width:17%;
  
}
.describe {
  color:white;
  font-size:small;
  margin-top: 30px;
   line-height: 2em;
   letter-spacing:1px;
   text-align: justify;
   padding:10px;
   font-family:'Lucida Sans Regular', sans-serif;
   font-style:oblique;
   }

   .segment {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap:30px;
    margin-top: 40px;
    margin-left: 50px;
  }

   .experience {
     background-color:#0A0A1A;
     margin-left: 50px;
    border-radius:10px;
    box-shadow:
  0 0 20px 10px #f0f;
   }
   .expno {
    text-align: center;
    margin-right: 20px;
    font-size:2em;
    padding-top: 12px;
    font-weight:bolder;
    color: white;
    font-family:Arial,monospace;
   }
   .work {
    float: left;
    width:25%; 
    margin-left:10px;
    margin-top: 15px;
    }
    .projects{
      background-color:#0A0A1A;
      margin-left: 50px;
      border-radius:10px;
      box-shadow:
    0 0 20px 10px #f0f;
    }
  .prono{
    
    text-align: center;
    margin-right: 20px;
    font-size:2em;
    padding-top: 12px;
    font-weight:bolder;
    color: white;
    font-family:Arial,monospace;
  }
  .pro {
    float: left;
    width:25%; 
    margin-left:10px;
    margin-top: 15px;
  }
  .courses {
    background-color:#0A0A1A;
    margin-left: 50px;
    border-radius:10px;
    box-shadow:
  0 0 20px 10px #f0f;
  }
  .course {
    float: left;
    width:25%; 
    margin-left:10px;
    margin-top: 15px;
  }
  .courseno {
    text-align: center;
    margin-right: 20px;
    font-size:2em;
    padding-top: 12px;
    font-weight:bolder;
    color: white;
    font-family:Arial,monospace;
  }
  .awards {
    background-color:#0A0A1A;
    margin-left: 50px;
    border-radius:10px;
     box-shadow:
  0 0 20px 10px #f0f;
  }
.medal {
  float: left;
  width:25%; 
  margin-left:10px;
  margin-top: 15px;
}
.medalno {
  text-align: center;
  margin-right: 20px;
  font-size:2em;
  padding-top: 12px;
  font-weight:bolder;
  color: white;
  font-family:Arial,monospace;
}
.nexthead{
  margin-left: 30px;
  margin-top: 70px;
  width:25%;
}
.jobs {
  display: grid;
  grid-template-columns: 40% 40%;
  gap:100px;
  height:10%;
  margin-top: 80px;
  margin-left: 100px;
}
.Mobile_Apps {
  background-color:#0A0A1A;
  border-radius:10px;
  box-shadow:0 0 20px 10px #f0f; 
}
.mobile {
  float: left;
  margin-left:20px;
  margin-top: 15px;
}
.apps {
  float:right;
  font-size:25px;
  margin-top: 20px;
  margin-right: 130px;
  font-weight:bolder;
  color: white;
  font-family:Arial,monospace;
}
.UIandUX {
  background-color:#0A0A1A;
 border-radius:10px;
 box-shadow:
0 0 20px 10px #f0f;
}
.uiux {
  float: left;
  margin-left:22px;
  margin-top: 16px;
}
.ui {
  float:right;
  font-size:25px;
  margin-top: 16px;
  margin-right: 130px;
  font-weight:bolder;
  color: white;
  font-family:Arial,monospace;
}

.jobone {
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 100px;
  margin-top: 70px;
  gap:100px;
  height:10%;

  }

  .JavaDeveloper {
    background-color:#0A0A1A;
    border-radius:10px;
    box-shadow:0 0 20px 10px #f0f;
    
  }
  .java {
    float: left;
  margin-left:20px;
  margin-top: 15px;
  }
  .javadevelop {
    float:right;
    font-size:25px;
    margin-top: 20px;
    margin-right: 95px;
    font-weight:bolder;
    color: white;
    font-family:Arial,monospace;
  }
.webdesign {
  background-color:#0A0A1A;
  border-radius:10px;
  box-shadow:0 0 20px 10px #f0f;
}
.web {
  float: left;
  margin-left:20px;
  margin-top: 15px;
}
.webdes {
  float:right;
  font-size:25px;
  margin-top: 20px;
  margin-right: 140px;
  font-weight:bolder;
  color: white;
  font-family:Arial,monospace;
}
.contactsection{
  background-color:#282A36;
  width:100%;
  height: 140%;
}
.contacthead {
  padding-top: 30px;
  color:#50FA7B;
  
  
}
.Contactform {
  width:100%;
  background-color: #282A36;
  height:100%;
}

.insideform {
  background-color: #282A36;
  margin-top: 50px;
  height: 50%;
  width:70%;
  border:1px solid #f0f;
  margin-left: 210px;
}
.firstsec {
  padding-top: 100px;
  margin-left:340px;

}
.firstsec input {
  width:50%;
  padding:10px;
  border-radius:5px;
  border:1px solid rgba(255,255,255,0.25);
  background:#282A36 ;
  outline: none;
  color:#fff;
  font-size:1em;
  transition: 0.5s;
}
.firstsec span {
  right:890px;
  position:absolute;
  padding: 10px;
  font-size: 1em;
  pointer-events:none;
  font-family: 'Arial',monospace;
  color:rgba(255,255,255,0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.firstsec input:focus ~ span {
  color:#50FA7B;
  transform: translateX(20px) translateY(-20px);
  font-size: 0.65em;
  margin-bottom:12px;
  background:#282A36;
  letter-spacing: 0.2em;
}
.firstsec input:focus {
  border:1px solid #50FA7B;
}

.seconds {
  
  margin-top: 40px;
  margin-left: 340px;
}
.seconds input {
  width:50%;
  padding:10px;
  border-radius:5px;
  border:1px solid rgba(255,255,255,0.25);
  background:#282A36 ;
  outline: none;
  color:#fff;
  font-size:1em;
  transition: 0.5s;
}
.seconds span {
  
  right:890px;
  position:absolute;
  padding: 10px;
  font-size: 1em;
  pointer-events:none;
  font-family: 'Arial',monospace;
  color:rgba(255,255,255,0.25);
  text-transform: uppercase;
  transition: 0.5s;
}

.seconds input:focus ~ span {
  color:#50FA7B;
  transform: translateX(20px) translateY(-20px);
  font-size: 0.65em;
  margin-bottom:12px;
  background:#282A36;
  letter-spacing: 0.2em;
 
}


.textsections {
  background-color: #ffff;
  width:34.1%;
  height:25%;
  margin-left: 340px;
  margin-top: 40px;
  border-radius:5px;
}
.textsec {
  background-color:#282A36;
  resize: none;
  border:1px solid rgba(255,255,255,0.25);
  border-radius: 5px;
  outline:none;
  color:white;
  
  }
::placeholder {
  padding: 10px;
  font-size: 1.1em;
  pointer-events:none;
  font-family: 'Arial',monospace;
  color:rgba(255,255,255,0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.textsec::-webkit-scrollbar {
  width:3px;
}
.textsec::-webkit-scrollbar-track {
  box-shadow:inset 0 0 10px #383A59;
}
.textsec::-webkit-scrollbar-thumb {
  background-color:#50FA7B;
}

 input:focus{
  border:1px solid #50FA7B;
}
.send {
  transition: ease-out 0.3s;
  outline: none;
  color: white;
  box-shadow: inset 0 0 0 0 indianred;
}
.send:hover {
  box-shadow: inset 200px 0 0 0 #50FA7B;
  cursor: pointer;
  color:black;
}
::-webkit-scrollbar {
  width:12px;
  
  
}

::-webkit-scrollbar {
  width:16px;
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(transparent,#f0f);
  border-radius:30px;
  height:40%;
}
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(transparent,#66ff66);
}
html {
  scroll-behavior: smooth;
  
}